body {
    background-color: white;
    color: black;
    text-align: center;
    margin: 0;
}

nav {
    background-color: mistyrose;
}

nav a {
    color: saddlebrown;
    text-decoration: none;
    margin: 10px;
}

h1 {
    color: darkslategray;
}

a {
    color: black;
}
